/* CSS declarations go here */
* {
  margin: 0px;
  padding: 0px;
}

#canvas {
  margin: 0px;
  padding: 0px;
  background-color: #B97;
}

#canvas:hover {
  cursor: pointer;
}

.board-container {
  float: left;
  position: relative;
  width: 800px;
  height: 800px;
}

.sidebar {
  width: 40px; 
  height: 800px;
  float: left;
  position: relative;
}

.board-label {
  width: 30px; 
  height: 30px;
  padding-right: 10px;
  padding-top: 10px;
  float: left;
  position: relative;
  font-size: 20px;
  text-align: right;
}

#board {
  float: left;
  position: relative;
  width: 800px;
  height: 800px;
}

#canvas {
  float: left;
  position: relative;
  /*width: 760px;*/
  /*height: 760px;*/
}

#gameInfo {
  float: left;
  width: 300px;
}