/* CSS declarations go here */
#canvas {
  margin: 0px;
  padding: 0px;
  background-color: #B97;
}

#canvas:hover {
  cursor: pointer;
}

#board {
  float: left;
  width: 760px;
}

#gameInfo {
  float: left;
  width: 300px;
}